section.blog.blog-padding
    .container.container-flex 
        section.blog-content
            //- header
            .article.constructor-flex__s-c
                a.article__link.constructor-flex__s-c(href="#")
                    img.article__img(src="./img/blog/files.svg" alt="list")
                    span.article__description Article
                span.srticle__line |
                a.article__link(href="#") 
                    span.article__description HR & Recruting
            
            //- title
            h1.title HR statistics: job search,  interviews, hiring and recruiting
            
            //- share
            .blog-share.constructor-flex__sb-c 
                //- date
                ul.blog-date.constructor-flex__s-c 
                    li
                        .blog-date__box.constructor-flex__s-c
                            img.blog-date__img(src="./img/blog/calendar.svg" alt="date list")
                            span.blog-date__decription August 3, 2020
                    li
                        .blog-date__box.constructor-flex__s-c
                            img.blog-date__img(src="./img/blog/clock.svg" alt="clock")
                            span.blog-date__decription 4 min read
                
                //- links
                ul.links.constructor-flex__s-c
                    li
                        span.links__description Share: 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Facebook.svg" alt="facebook") 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Twitter.svg" alt="twitter") 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Linked-In.svg" alt="linked-in") 

            //-poster
            .poster 
            
            //- content-text
            p.blog-content__text.blog-content__text-bold Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod.
            p.blog-content__text At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.
            p.blog-content__text Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc, non.

            .quote.constructor-flex__s-s
                .quote-red
                    img.quote__img(src="./img/blog/braces.svg" alt="quote")
                .blog-content__text-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus  facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in tot euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.


            p.blog-content__text Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque amet non fringilla blandit:
           
            //- container-column(cc)
            ul.list-blog-bullet.constructor-flex__s-s.constructor__column
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img.constructor-flex__c-c(src="./img/section-01/check.svg" alt="bullet")   
                        p.sectisn-01-cc__text A fermentum in morbi pretium aliquam adipiscing donec tempus.               
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img.constructor-flex__c-c(src="./img/section-01/check.svg" alt="bullet")   
                        p.sectisn-01-cc__text Vulputate placerat amet pulvinar lorem nisl.              
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img.constructor-flex__c-c(src="./img/section-01/check.svg" alt="bullet")   
                        p.sectisn-01-cc__text Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.           
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img.constructor-flex__c-c(src="./img/section-01/check.svg" alt="bullet")   
                        p.sectisn-01-cc__text Etiam duis lobortis in fames ultrices commodo nibh.          
           
            p.blog-content__text Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.
            
            .blog-content-duo.constructor-flex__sb-c 
                .box-tages
                    .tags-wrap.constructor-flex__s-c
                        span.box-tages__span Tages:
                        .tag 
                            a.tag__text(href="#") #learning
                        .tag 
                            a.tag__text(href="#") #HR
                        .tag 
                            a.tag__text(href="#") #self-development

                //- links
                ul.links.constructor-flex__s-c
                    li
                        span.links__description Share: 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Facebook.svg" alt="facebook") 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Twitter.svg" alt="twitter") 
                    li 
                        a.links__item(href="#")
                            img.links__img(src="./img/input/Linked-In.svg" alt="linked-in") 

           

        nav.nav-bar
            form.search-events.cell
                input.search-events__input(type="text" placeholder="Search event...")
                button.search-events__btn.container-flex-center-all
                    img.search-events__img(src="./img/courses/search.svg" alt="serach")
            .author-wrap 
                h5.author-wrap__title Author
            .author.container-flex
                .container-image
                    img.author__img(src="./img/blog-nav/image.png" alt="person")
                .container-description
                    .box-header
                        h5.author__title Kristin Watson
                        p.author__description Curator of Marketing Course
                    ul.box-footer.container-flex
                        li 
                            a.box-footer__link(href="#")
                                img.box-footer__img(src="./img/blog-nav/instagram.svg" alt="instagram")
                        li 
                            a.box-footer__link(href="#")
                                img.box-footer__img(src="./img/blog-nav/twitter.svg" alt="twitter")
                        li 
                            a.box-footer__link(href="#")
                                img.box-footer__img(src="./img/blog-nav/linked-In.svg" alt="linked-In")
            .trending
                h5.trending__title Trending Articles
                .box-trending.container-flex 
                    img.trending__img(src="./img/blog-nav/image-01.png" alt="banner")
                    .trending-content 
                        .trending-content-header.container-flex
                            img.trending-content-header__img(src="./img/blog-nav/Calendar.svg" alt="calendar")
                            h5.trending-content-header__title September 4, 2020
                        p.trending-content__text What is traffic arbitrage and does it really make money?
                .box-trending.container-flex 
                    img.trending__img(src="./img/blog-nav/image-03.png" alt="banner")
                    .trending-content
                        .trending-content-header.container-flex
                            img.trending-content-header__img(src="./img/blog-nav/Calendar.svg" alt="calendar")
                            h5.trending-content-header__title July 15, 2020
                        p.trending-content__text Startup: how to build a team that will live longer than a year
                .box-trending.container-flex 
                    img.trending__img(src="./img/blog-nav/image-02.png" alt="banner")
                    .trending-content
                        .trending-content-header.container-flex
                            img.trending-content-header__img(src="./img/blog-nav/Calendar.svg" alt="calendar")
                            h5.trending-content-header__title August 2, 2020
                        p.trending-content__text What to do if you want to get feedback on the product
            .tags
                h5.tags__title Tags
                .tags-wrap.container-flex 
                    .tag 
                        a.tag__text(href="#") #marketing
                    .tag 
                        a.tag__text(href="#") #recruiting
                    .tag 
                        a.tag__text(href="#") #coding
                    .tag 
                        a.tag__text(href="#") #learning
                    .tag 
                        a.tag__text(href="#") #HR
                    .tag 
                        a.tag__text(href="#") #self-development

