.header {
    padding-top: 20px;
    background-color: $color-red-orange;
    background-image: url(../img/header/shapes.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .button-global-opacity {
        margin-right: 24px;
    }
    .header-middle-margin {
        margin-top: 128px;
    }
}

/* fonst */
.header-nav__title, 
.login__title, 
.login__slash {
    @include font-lato(700, 16px, $color-grey-dark);
}
.header-btn__description {
    @include font-lato(700, 14px, $color-dark);
}
.header-title {
    margin: 24px 0 60px 0;
    @include font-lato(900, 64px, $color-dark);
    line-height: 130%;
}
.header-row__title {
    @include font-lato(900, 46px, $color-dark);
}

/* menu header*/
.header-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(24 / 1920 * 100vw);
}
.header-nav__logo {
    width: 129px;
    height: 20px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    width: 619px;
    align-items: center;
    justify-content: space-between;
}

.header-cta {
    display: flex;
    width: 386px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}

/* header middle */
.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* left content */
.cc-size {
    max-width: 496px;
}
.container-column {
    .cc-wrap:not(:first-child) {
        margin-left: 20px;
    }
    
}
.cc-wrap-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* btn-play red */
.header-btn {
    border: none;
    background: none;
    cursor: pointer;
    background-color: $color-red-orange-dark;
    width: 84px;
    height: 84px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* banner */
.ci-size {
    width: 602px;
    height: 551px;
}
.container-image__img {
    width: 100%;
    height: 100%;
}

/* bottom line */
.header-bottom {
    margin-top: 189px;
    padding-bottom: 89px;
}


.header-row__title {
    display: flex;
    align-items: center;
}
.header-row__description {
    margin-left: 12px;
    @include font-lato(400, 16px, $color-dark);
}
.dot-red {
    width: 8px;
    height: 8px;
    background: $color-red-light;
    border-radius: 50%;
}


@media screen and (max-width: 1260px){
    
}

@media screen and (max-width: 1260px){
    .header {
        .ci-size {
            display: none;
        }
        .header-middle-margin {
            justify-content: center;
        }
        .header-bottom {
            flex-direction: column;
            gap: 20px;
        }
        .header-row__title {
            flex-direction: column;
            gap: 5px;
        }
        .header-title {
            text-align: center;
        }
        .cc-wrap:first-child {
            justify-content: center;
        }
        .cc-wrap:last-child {
            justify-content: center;
            margin: 0;
        }
    }
    .section-01 {
        .container-flex {
            flex-direction: column;
            gap: 30px;            
        }
        .banner,
        .container-column {
            margin: 0 auto;
        }
        .button-global {
            margin: 0 auto;
        }
    }
    .section-02 {
        .container-row {
            flex-direction: column;
            margin: 0;
        }
        .card-section-02 {
            margin-top: 30px;
        }
        .section-02-header {
            flex-direction: column;
            gap: 30px;
            * {
                text-align: center;
            }
        }
        .footer-top-column__link {
            margin-bottom: 30px;
        }
    }
    .section-03 {
        .list-categorys,
        .section-03-bottom {
            flex-direction: column;
            gap: 30px;
            .container-description__text {
                text-align: center;
            }
        }
    }
    .section-05 {
        * {
            text-align: center;
            
        }
        .section-05__description + .container-flex {
            align-items: center;
        }
        .container-flex {
            flex-direction: column;
            gap: 30px;
        }
        .container-column,
        .section-05-image {
            margin: 0 auto;
        }
    }
    .slider {
        .slider-arrows {
            display: none;
        }
        .slider-row {
            justify-content: center;
            * {
                text-align: center;
            }
        }
    }
    .slider-content {
        flex-direction: column;
        gap: 30px;
    }
    .blog {
        .heading-container {
            flex-direction: column;
            gap: 40px;
        }
        .heading {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1100px){
    .header {
        height: 100vh;
    }
    .header-row {
        display: none;
    }
    .footer-top-column:not(:first-child) {
        display: none;
    }
    .footer {
        * {
            text-align: center;
        }
        .footer-top {
            justify-content: center;
        }
        .footer-top-column  {
            align-items: center;
        }
    }
}