.header-nav__title, 
.login__title, 
.login__slash {
    @include font-lato(700, 16px, #424551);
}

.header-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    width: 619px;
    align-items: center;
    justify-content: space-between;
}
.header-nav__logo {
    width: 129px;
    height: 20px;
}
.header-nav__image {
}
.header-nav__link {
}

.header-cta {
    display: flex;
    width: 386px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container-column {
}
.cc-wrap {
}

.cc-wrap-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-btn {
    border: none;
    background: none;
    cursor: pointer;
}
.header-btn__img {
}
.header-btn__description {
    margin-left: 16px;
    @include font-lato(700, 14px, #1E212C);
}
.header-title {
    margin: 24px 0 60px 0;
    @include font-lato(900, 64px, #1E212C);
}




.header {
    .button-global-opacity {
        margin-right: 24px;
    }
}
.button-global-opacity__title {
}
.button-global {
}
.button-global__title {
}
.container-image {
}


