@media screen and (max-width: 1250px) {
   .date-cards-grid {
      display: inline-block;
      width: 100%;
   }
   .section-04 {
      .card-date {
         margin-left: auto;
         margin-right: auto;
      }
   }
    /* card min */
   .card-date {
      max-width: 390px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px;
      .card-date-head {
         display: flex;
         align-self: flex-start;
         align-items: flex-start;
         flex-direction: column;
         .card-date-head__day {
            margin: 0;   
         }
      }
      .card-date-middle {
         padding-top: 32px;
         padding-bottom: 34px;
         width: auto;
      }
      .button-global-opacity {
         width: 100%;
      }
   }
}