.section-02 {
    padding-bottom: 180px;
    .footer-top-column__link {
        justify-content: space-between;
    }
}
.container-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-top: 30px;
}
.container-row-padding {
    margin-top: 14px;
}