.section-01 {
    width: 100%;
    padding: 180px 0;
    align-items: flex-start;

    background-image: url(../img/section-01/dots.png);
    background-position: 0 240px;
    background-repeat: no-repeat;
    background-size: auto;

    .cc-wrap-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .banner {
        width: 705px;
        height: 560px;
    }
    .banner__img {
        width: 100%;
        height: 100%;
    }
    .container-column {
        max-width: 390px;
    }
    .footer-top-column__link {
        margin-top: 12px;
    }
    .section-01-cc__title {
        @include font-lato(700, 16px, $color-dark);
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    .section-01-cc__decription {
        @include font-lato(900, 46px, $color-dark);
        margin-bottom: 46px;
    }
    .section-01-cc__text {
        margin-left: 16px;
        @include font-lato(400, 16px, $color-dark);
        line-height: 160%;
    }
    .button-global-margin {
        margin-top: 26px;
    }
}