section.course-discout 
    .container
        .discout 
            .container-row
                h5.discout__title 20% discount for early birds!
                ul.container-date.container-flex
                    .container-column 
                        h6.discout__num 06
                        span.discout__text Days
                    .container-column 
                        h6.discout__num 18
                        span.discout__text Hours
                    .container-column 
                        h6.discout__num 24
                        span.discout__text Mins
                    .container-column 
                        h6.discout__num 12
                        span.discout__text Sec

            form.discout-form.container-flex
                .course-duo-form-wrap
                    h5.course-duo-form__title Full Name
                    input.space-input(type="text" placeholder="Your full name")
                .course-duo-form-wrap.course-duo-form-wrap-margin
                    h5.course-duo-form__title Email
                    input.space-input(type="text" placeholder="Your working email")
                .course-duo-form-wrap.course-duo-form-wrap-margin
                    h5.course-duo-form__title Phone
                    input.space-input(type="text" placeholder="Your phone number")
                //- BUTTON Red
                button.button-global 
                    span.button-global__title Join the course

