section.course-duo 
    .container.container-flex 
        .course-duo-image
            img.course-duo-image__img(src="./img/course-duo/illustration.png" alt="learn")
        form.course-duo-form
            .container-column
                h5.section-01-cc__title Leave a request now and get 20% off!
                p.section-01-cc__decription Register for the course
            .course-duo-form-wrap
                h5.course-duo-form__title Full Name
                input.space-input(type="text" placeholder="Your full name")
            .course-duo-form-wrap.course-duo-form-wrap-margin
                h5.course-duo-form__title Email
                input.space-input(type="text" placeholder="Your working email")
            .course-duo-form-wrap.course-duo-form-wrap-margin
                h5.course-duo-form__title Phone
                input.space-input(type="text" placeholder="Your phone number")
            //- BUTTON Red
            button.button-global 
                span.button-global__title Join the course
