section.course-section-02 
    .container.container-flex 
        .course-section-02-image 
            img.course-section-02-image__img(src="./img/course-section-02/curator-image.png" alt="person")
        .course-section-02-description.container-column
            h4.course-section-02-description-title Course curator
            h5.course-section-02-description-subtitle Cody Fisher
            p.course-section-02-description-description Senior UX designer in IT Product Company
            ul.list-stat
                li 
                    span.list-stat__item.list-stat__item-star 4.9 rate
                li 
                    span.list-stat__item.list-stat__item-play 4 courses
                li 
                    span.list-stat__item.list-stat__item-person 350 students
            p.course-section-02-description__text Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam.

            ul.course-section-02-links.container-flex 
                li 
                    a.course-section-02-links__item(href="#")
                        img.course-section-02-links__img(src="./img/course-section-02/facebook.svg" alt="facebook")
                li 
                    a.course-section-02-links__item(href="#")
                        img.course-section-02-links__img(src="./img/course-section-02/behance.svg" alt="behance")
                li 
                    a.course-section-02-links__item(href="#")
                        img.course-section-02-links__img(src="./img/course-section-02/twitter.svg" alt="twitter")
                li 
                    a.course-section-02-links__item(href="#")
                        img.course-section-02-links__img(src="./img/course-section-02/linked-In.svg" alt="linked-In")
