doctype html
html(lang="en")
   head.page__head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon_io/apple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon_io/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon_io/favicon-16x16.png")
      link(rel="manifest" href="./img/favicon_io/site.webmanifest")
      link(rel="stylesheet" href="./css/style.min.css")
      title Createx Online Courses
   //- COURSE PAGE
   body.page__body 
        header.header.header-course
            //- navigatioin header
            include modules/navigation-line.pug

            .container-column.container-column-center
                h5.section-01-cc__title course
                p.section-01-cc__decription User Experience. Principles of Human-Centered Design

        //- course-section-01
        include modules/course-section-01.pug
       
        //- course-section-02
        include modules/course-section-02.pug

        //- course-section-03
        include modules/course-section-03.pug

        //- course-discount
        include modules/course-discount.pug

        //- slider-single
        include modules/slider-single.pug

        //- course-dou
        include modules/course-duo.pug
        
        //- course-slider
        include modules/course-slider.pug
        

        //- footer
        include modules/footer.pug


