doctype html
html(lang="en")
   head.page__head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="./css/style.min.css")
      title Createx Online Courses
   body.page__body 
      header.header 
         .container 
            .header-row 
               //- navigation line (logo and 5 links) 
               ul.header-nav 
                  a.header-nav__logo(href="#")
                     img.header-nav__image(src="./img/Navbar/logo.svg" alt="logo button") 
                  li 
                     a.header-nav__link(href="#")
                        span.header-nav__title About Us
                  li 
                     a.header-nav__link(href="#")
                        span.header-nav__title Courses
                  li 
                     a.header-nav__link(href="#")
                        span.header-nav__title Events
                  li 
                     a.header-nav__link(href="#")
                        span.header-nav__title Blog
                  li 
                     a.header-nav__link(href="#")
                        span.header-nav__title Contacts

               //- registration line (button and 2 links)
               ul.header-cta 
                  li
                     //- BUTTON Red
                     button.button-global 
                        span.button-global__title Get consultation
                  li
                     .login
                        .login__icon
                           img(src="./img/Navbar/Profile.svg" alt="login icon")
                        a.login__link(href="#")
                           span.login__title Log in
                        span.login__slash &nbsp;/&nbsp; 
                        a.login__link(href="#") 
                           span.login__title Register
