doctype html
html(lang="en")
   head.page__head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="./css/style.min.css")
      title Createx Online Courses
   body.page__body 
      header.header 
         //- navigatioin Header
         include modules/navigation-line.pug

         //- header middle block   
         include modules/header-middle.pug

         //- header bottom block   
         include modules/header-bottom.pug

      //- section-01 block
      include modules/section-01.pug

      //- section-02 block
      include modules/section-02.pug
      



      //- footer
      include modules/footer.pug


