section.contacts 
    .container.constructor-flex__sb-c
        .contacts-content
            h1.contacts-content__title Contact info
            p.contacts-content__description Get in touch
            .address-list
                .address-list__box.address-list__box-margin.constructor-flex__s-s
                    img.address-list__img(src="./img/contacts/Chat.svg" alt="chat")
                    .address-list__box
                        h2.address-list__title Talk to us:
                        a.address-list__link(href="mailon:hello@createx.com")
                            span.address-list__description hello@createx.com
                .address-list__box.address-list__box-margin.constructor-flex__s-s
                    img.address-list__img(src="./img/contacts/iPhone.svg" alt="iphone")
                    .address-list__box
                        h2.address-list__title Call us:
                        a.address-list__link(href="tel:4055550128")
                            span.address-list__description (405) 555-0128
                .address-list__box.address-list__box-margin.constructor-flex__s-s
                    img.address-list__img(src="./img/contacts/outline.svg" alt="outline")
                    .address-list__box
                        h2.address-list__title Address:
                        a.address-list__link(href="#")
                            span.address-list__description 2464 Royal Ln. Mesa, New Jersey 45463, USA
                

                .contacts-list
                    h3.contacts-list__title Follow us:  
                    ul.contacts-list__links.constructor-flex__s-s
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/Facebook.svg" alt="facebook")
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/Twitter.svg" alt="twitter")
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/YouTube.svg" alt="youtube")
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/telegram.svg" alt="telegram")
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/Instagram.svg" alt="instagram")
                        li
                            a.contacts-list__item(href="#")
                                img.contacts-list__img(src="./img/contacts/Linked-In.svg" alt="linked-in")
        .contacts-map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.031904045848!2d37.62390127851865!3d55.7410583339011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afe7bc7aad7%3A0x131219b817c8ccfd!2sBurger%20Heroes!5e0!3m2!1sru!2sru!4v1650903478401!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")