section.blog
    .container
        .section-02-header.footer-top-column__link
            .section-header-inner.container-column
                h3.section-01-cc__title Our blog
                p.section-01-cc__decription Latest posts
            button.button-global
                span.button-global__title Go to blog
        .heading-container.container-flex
            .heading.heading-01
                .heading-header
                    button.heading-header__btn
                        span.heading-header__description Podcast
                ul.heading-middle.container-flex
                    li
                        span.heading-middle__title Marketing
                    li
                        span.heading-middle__line |
                    li
                        span.heading-middle__description September 4, 2020
                    li
                        span.heading-middle__line |
                    li
                        span.heading-middle__time 36 min
                .heading-footer
                    h5.heading-footer__title What is traffic arbitrage and does it really make money?
                    p.heading-footer__text Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                    .container-flex
                        .heading-footer__description Listen
                        button.heading-footer__btn
                            img.heading-footer__img(src="./img/blog/right.svg" alt="arrow")
            .heading.heading-02
                .heading-header
                    button.heading-header__btn
                        span.heading-header__description Video
                ul.heading-middle.container-flex
                    li
                        span.heading-middle__title Management
                    li
                        span.heading-middle__line |
                    li
                        span.heading-middle__description August 25, 2020
                    li
                        span.heading-middle__line |
                    li
                        span.heading-middle__time 45 min
                .heading-footer
                    h5.heading-footer__title What to do and who to talk to if you want to get feedback on the product
                    p.heading-footer__text Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus...
                    .container-flex
                        .heading-footer__description Watch
                        button.heading-footer__btn
                            img.heading-footer__img(src="./img/blog/right.svg" alt="arrow")
            .heading.heading-03
                .heading-header
                    button.heading-header__btn
                        span.heading-header__description Article
                ul.heading-middle.container-flex
                    li
                        span.heading-middle__title Design
                    li
                        span.heading-middle__line |
                    li
                        span.heading-middle__description August 8, 2020
                    
                .heading-footer
                    h5.heading-footer__title Should you choose a creative profession if you are attracted to creativity?
                    p.heading-footer__text Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...
                    .container-flex
                        .heading-footer__description Read
                        button.heading-footer__btn
                            img.heading-footer__img(src="./img/blog/right.svg" alt="arrow")
