section.course-section-03
    .container-column.container-column-center
        h5.section-01-cc__title Main steps
        p.section-01-cc__decription Online learning process
    .container.container-flex 
        .step 
            .step-head
                .step-head-wrap
                    span.step-head__num 01
                .step-head__line
            h5.step__title Watching online video lectures
            p.step__description Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        .step 
            .step-head
                .step-head-wrap
                    span.step-head__num 02
                .step-head__line
            h5.step__title Passing test
            p.step__description Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.
        .step 
            .step-head
                .step-head-wrap
                    span.step-head__num 03
                .step-head__line
            h5.step__title Curator’s feedback
            p.step__description Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
        .step 
            .step-head
                .step-head-wrap-light
                    .step-head-wrap
                        span.step-head__num 04
            h5.step__title Corrections if needed
            p.step__description Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
