section.slider.course-slider
    .container 
        .slider-row 
            .container-column
                h5.section-01-cc__title Check other courses 
                p.section-01-cc__decription You may also like
            .slider-arrows.slider-row
                button.slider-arrows__btn
                    img.slider-arrows__img(src="./img/slider/arrow.svg" alt="arrow-prew")
                button.slider-arrows__btn
                    img.slider-arrows__img(src="./img/slider/arrow.svg" alt="arrow-next")
        .container-row.container-row-padding
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/card/image-01.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__blue-light Marketing
                        h4.content-card__description The Ultimate Google Ads Training Course
                        .content-cost.content-cost-flex
                            span.content-cost__value $100
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Jerome Bell
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/card/image-02.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue Management
                        h4.content-card__description Prduct Management Fundamentals
                        .content-cost.content-cost-flex
                            span.content-cost__value $480
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Marvin McKinney
        ul.section-04-row
                li 
                    h5.section-04-row__title Do you want more courses?
                li 
                    //- BUTTON Red
                    button.button-global 
                        span.button-global__title View all courses                                