//- page 2
section.courses
    .container-column.container-column-center
        h5.section-01-cc__title Enjoy your studying!
        p.section-01-cc__decription Our online courses
    
    .container 
        nav.courses-navigation.container-flex
            ul.courses-categories.container-flex
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description All
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description Marketing
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description Management
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description HR & Recruting
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description Design
                li
                    .container-border
                        button.courses-categories__btn
                            span.courses-categories__description Development
            .categories-search
                input.categories-search__input(type="text" placeholder="Search course...")
                button.categories-search__btn
                    img.categories-search__img(src="./img/courses/search.svg" alt="button search")
        .courses-cards
            .container-row
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-01.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__blue-light Marketing
                        h4.content-card__description The Ultimate Google Ads Training Course
                        .content-cost.content-cost-flex
                            span.content-cost__value $100
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Jerome Bell
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-02.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue Management
                        h4.content-card__description Prduct Management Fundamentals
                        .content-cost.content-cost-flex
                            span.content-cost__value $480
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Marvin McKinney
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-03.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-orange HR & Recruting
                        h4.content-card__description HR  Management and Analytics
                        .content-cost.content-cost-flex
                            span.content-cost__value $200
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Leslie Alexander Li
        
            .container-row.container-row-padding
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-04.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__blue-light Marketing
                        h4.content-card__description Brand Management & PR Communications
                        .content-cost.content-cost-flex
                            span.content-cost__value $530
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Kristin Watson
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-05.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-red-02 Design
                        h4.content-card__description Graphic Design Basic
                        .content-cost.content-cost-flex
                            span.content-cost__value $500
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Guy Hawkins
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-06.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue Management
                        h4.content-card__description Business Development Management
                        .content-cost.content-cost-flex
                            span.content-cost__value $400
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Dianne Russell

            .container-row.container-row-padding
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-07.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue-02 Development
                        h4.content-card__description Highload Software Architecture
                        .content-cost.content-cost-flex
                            span.content-cost__value $600
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Brooklyn Simmons
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-08.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-orange HR & Recruting
                        h4.content-card__description Human Resources – Selection and Recruitment
                        .content-cost.content-cost-flex
                            span.content-cost__value $150
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Kathryn Murphy
                .card-section-02
                    .image-card
                        img.image-card__img(src="./img/courses/img-09.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-red-02 Design
                        h4.content-card__description User Experience. Human-centered Design
                        .content-cost.content-cost-flex
                            span.content-cost__value $240
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Cody Fisher
            .show-button       
                button.show-button__btn
                    img.show-button__img(src="./img/courses/convert.svg" alt="load")
                    span.show-button__descriotion Load more