section.sourse-section-01
    .container.container-flex 
        .content-course.container-description.container-column
            h2.container-description__title About the course
            p.container-description__text Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo aenean congue in sagittis, felis maecenas amet varius at. Pellentesque euismod in faucibus at elementum. Tellus maecenas libero est tempus sit cras at malesuada diam. Consequat senectus dictumst non hac dignissim montes, pretium, egestas molestie. Sed magna aliquet ornare nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor, mi nulla pellentesque
            ul.section-01-cc
                li
                    p.section-01-cc__decription You will learn:
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text A fermentum in morbi pretium aliquam adipiscing donec tempus.
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Vulputate placerat amet pulvinar lorem nisl.       
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Etiam duis lobortis in fames ultrices commodo nibh.                   
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Fringilla in nec risus congue venenatis pretium posuere nec.     
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Cursus eu pretium, vulputate tempus quam massa sed at.
        .course-card
            .course-card-wrap
                h4.course-card__title Dates
                h5.course-card__date Sept 7 – Nov 2
                p.course-card__description Metus turpis sit lorem lacus, in elit tellus lacus.
            .course-card-wrap
                h4.course-card__title Duration
                h5.course-card__date 2 months – 8 lessons
                p.course-card__description Rhoncus pellentesque auctor auctor orci vulputate faucibus quis ut.
            .course-card-wrap
                h4.course-card__title Price
                h5.course-card__date $120 per month
                p.course-card__description Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.
            //- BUTTON Red
            button.button-global 
                span.button-global__title Join the course
