footer.footer 
    .container
        .footer-top 
            .footer-top-column
                .cc-wrap
                    a.footer-top-column__title(href="#")
                        img.footer-top-column__image(src="./img/footer/logo.svg" alt="logo button")
                .cc-wrap
                    p.footer-text Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.
                ul.cc-wrap.cc-footer-flex 
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/facebook.svg" alt="facebook")
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/twitter.svg" alt="twitter")
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/youtube.svg" alt="youtube")
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/telegram.svg" alt="telegram")
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/instagram.svg" alt="instagram")
                    li
                        a.footer__link(href="#")  
                            img.footer__img(src="./img/footer/linkedin.svg" alt="linkedin")
            ul.footer-top-column
                li 
                    h6.footer-top-column__title Site Map
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description About Us    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Courses    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Events    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Blog    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Contacts    
            ul.footer-top-column
                li 
                    h6.footer-top-column__title COURSES
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Marketing    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Management    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description HR & Recruting    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Design    
                li 
                    a.footer-top-column__link(href="#")
                        span.footer-top-column__description Development    
            ul.footer-top-column
                li 
                    h6.footer-top-column__title CONTACT US
                li 
                    a.footer-top-column__link(href="tel: 4055550128")
                        img.footer-top-column__img(src="./img/footer/iPhone.svg" alt="phone")
                        span.footer-top-column__description (405) 555-0128    
                li 
                    a.footer-top-column__link(href="mailto: hello@createx.com")
                        img.footer-top-column__img(src="./img/footer/Mail.svg" alt="mail")
                        span.footer-top-column__description hello@createx.com
            ul.footer-top-column
                    li 
                        h6.footer-top-column__title SIGN UP TO OUR NEWSLETTER
                    li 
                        .container-input 
                            input.container-input__add(type="text" placeholder="Email address")
                            button.container-input__btn(type="button")
                                img.container-input__img(src="./img/input/Right.svg" alt="arrow")
                    li 
                        p.footer-top-column__description *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.    
.footer-bottom
    .container.container-flex
        .container-text
            h6.footer-bottom__title © All rights reserved. Made with 
            img.footer-bottom__img(src="./img/footer/Heart.svg" alt="heart")
            h6.footer-bottom__title by Createx Studio 
        a.footer-bottom__link(href="#") Go to top