.container
    ul.header-bottom.header-row
        li
            h2.header-row__title 1200 
                span.header-row__description Students graduated
        li      
            .dot-red 
        li
            h2.header-row__title 84 
                span.header-row__description Completed courses
        li      
            .dot-red 
        li
            h2.header-row__title 16 
                span.header-row__description Qualified tutors
        li      
            .dot-red 
        li
            h2.header-row__title 5 
                span.header-row__description Years of experience