.container.container-flex.header-middle-margin
            .container-column.cc-size
               //- container-column(cc)
               ul.cc-wrap.cc-wrap-flex
                  li
                     button.header-btn 
                        img.header-btn__img(src="./img/Button/play.svg" alt="button play")
                  li
                     span.header-btn__description Play showreel
               .cc-wrap
                  h1.header-title Enjoy studying with Createx Online Courses
               ul.cc-wrap.cc-wrap-flex
                  li 
                     //- BUTTON opacity
                     button.button-global-opacity 
                        span.button-global-opacity__title About us
                  li 
                     //- BUTTON Red
                     button.button-global 
                        span.button-global__title Explore courses

            //- container-image(ci)            
            .container-image.ci-size
               img.container-image__img(src="./img/Header/illustration.svg" alt="banner")