.container
    .header-row 
        //- navigation line (logo and 5 links) 
        ul.header-nav 
            a.header-nav__logo(href="#")
                img.header-nav__image(src="./img/navbar/logo.svg" alt="logo button") 
            li 
                a.header-nav__link(href="#")
                    span.header-nav__title About Us
            li 
                a.header-nav__link(href="#")
                    span.header-nav__title Courses
            li 
                a.header-nav__link(href="#")
                    span.header-nav__title Events
            li 
                a.header-nav__link(href="#")
                    span.header-nav__title Blog
            li 
                a.header-nav__link(href="#")
                    span.header-nav__title Contacts

        //- registration line (button and 2 links)
        ul.header-cta 
            li
                //- BUTTON Red
                button.button-global 
                    span.button-global__title Get consultation
            li
                .login
                    .login__icon
                        img(src="./img/navbar/Profile.svg" alt="login icon")
                    a.login__link(href="#")
                        span.login__title Log in
                    span.login__slash &nbsp;/&nbsp; 
                    a.login__link(href="#") 
                        span.login__title Register