section.section-05 
    .container.container-flex
        .container-column
            h5.section-01-cc__title Createx Certificate
            p.section-01-cc__decription Your expertise will be confirmed
            p.section-05__description We are accredited by international professional organizations and institutes:
            .container-flex.container-flex-padding
                img.section-05__img(src="./img/section-05/img-01.png" alt="mark")
                img.section-05__img(src="./img/section-05/img-02.png" alt="mark")
                img.section-05__img(src="./img/section-05/img-03.png" alt="mark")
        .section-05-image 
            img.section-05-image__img(src="./img/section-05/img-m.jpg" alt="certificate")