section.section-02 
    .container 
        .container-column
            .section-02-header.footer-top-column__link
                .section-header-inner.container-column
                    h3.section-01-cc__title Ready to learn?      
                    p.section-01-cc__decription Featured Courses
                button.button-global-opacity 
                    span.button-global-opacity__title View all courses
            .container-row.container-row-padding 
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-01.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__blue-light Marketing 
                        h4.content-card__description The Ultimate Google Ads Training Course
                        .content-cost.content-cost-flex 
                            span.content-cost__value $100
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Jerome Bell
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-02.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue Management 
                        h4.content-card__description Prduct Management Fundamentals
                        .content-cost.content-cost-flex 
                            span.content-cost__value $480
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Marvin McKinney
            .container-row      
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-03.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-orange HR & Recruting 
                        h4.content-card__description HR  Management and Analytics
                        .content-cost.content-cost-flex 
                            span.content-cost__value $200
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Leslie Alexander Li
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-04.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__blue-light Marketing 
                        h4.content-card__description Brand Management & PR Communications
                        .content-cost.content-cost-flex 
                            span.content-cost__value $530
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Kristin Watson
            .container-row      
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-05.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-blue Management 
                        h4.content-card__description Business Development Management
                        .content-cost.content-cost-flex 
                            span.content-cost__value $400
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Dianne Russell
                .card-section-02
                    .image-card 
                        img.image-card__img(src="./img/card/image-06.jpg" alt="person")
                    .content-card
                        span.content-card__mark.content-card__mark-red-02 Design
                        h4.content-card__description Graphic Design Basic
                        .content-cost.content-cost-flex 
                            span.content-cost__value $500
                            span.content-cost__description &nbsp;|&nbsp;
                            span.content-cost__description by Guy Hawkins