section.section-03 
    .container 
        .container-column.container-column-center
            .section-header-inner.container-column
                h3.section-01-cc__title Our benefits
                p.section-01-cc__decription That’s how we do it
            ul.list-categorys
                li
                    button.list-categorys__btn.list-categorys__btn-active
                       span.list-categorys__description.list-categorys__star Experienced Tutors
                li
                    button.list-categorys__btn 
                       span.list-categorys__description.list-categorys__support Feedback & Support
                li
                    button.list-categorys__btn 
                       span.list-categorys__description.list-categorys__library  24/7 Online Library
                li
                    button.list-categorys__btn 
                       span.list-categorys__description.list-categorys__community  Community
            .section-03-bottom.container-flex
                .container-description.container-column
                    h4.container-description__title Only practicing tutors
                    p.container-description__text Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
                .container-image 
                    img.container-image__img(src="./img/section-03/learn.svg" alt="people learn")