section.section-bottom
    .container-column.container-column-center
        h5.section-01-cc__title Don’t miss anything
        p.section-01-cc__decription Subscribe to the Createx School announcements
    form.container-form 
        input.container-form__input(type="text" placeholder="Your working email")
         //- BUTTON Red
        button.button-global
            span.button-global__title Subscribe