section.section-01 
    .container.container-flex.container-flex-start 
        .banner 
            img.banner__img(src="./img/section-01/image.jpg" alt="banner")
        .container-column
            //- container-column(cc)
            ul.section-01-cc.cc-wrap.cc-wrap-flex
                li
                    h2.section-01-cc__title Who we are 
                li
                    p.section-01-cc__decription Why Createx?
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text A fermentum in morbi pretium aliquam adipiscing donec tempus.                    
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Vulputate placerat amet pulvinar lorem nisl.                
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.                  
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Etiam duis lobortis in fames ultrices commodo nibh.                   
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Tincidunt sagittis neque sem ac eget.                  
                li
                    .footer-top-column__link
                        span.section-01-cc-inner
                            img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                        p.section-01-cc__text Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
                li
                    //- BUTTON Red
                    button.button-global.button-global-margin
                        span.button-global__title More about us