section.slider-single 
    .container-column.container-column-center
        h5.section-01-cc__title TESTIMONIALS
        p.section-01-cc__decription What our students say
    .container.container-flex
        .slider-single-arrow
            button.slider-single-arrow__btn
                img.slider-single-arrow__img(src="./img/slider/arrow.svg" alt="arrow-prew")
                
        .testimonial-wrap
            .testimonial.container-flex
                .testimonial-header
                    img.testimonial-header__img(src="./img/slider-single/braces.svg" alt="bracets")
                .testimonial-bottom.container-column    
                    .testimonial-bottom-header
                        p.testimonial-bottom-header__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                    .testimonial-bottom-bottom.container-flex
                        img.testimonial-bottom-bottom__img(src="./img/slider-single/image.png" alt="person")
                        .container-column
                            h5.testimonial-bottom-bottom__title Eleanor Pena
                            p.testimonial-bottom-bottom__description Position, Course
        .slider-single-arrow.slider-single-arrow-transform
            button.slider-single-arrow__btn
                img.slider-single-arrow__img(src="./img/slider/arrow.svg" alt="arrow-next")
    .slider-dots.container-flex
        .slider-dots__item                           
        .slider-dots__item                           
        .slider-dots__item                           
        .slider-dots__item                           
        .slider-dots__item                           

                
