section.slider
    .container 
        .slider-row 
            .container-column
                h5.section-01-cc__title Best tutors are all here
                p.section-01-cc__decription Meet our team
            .slider-arrows.slider-row
                button.slider-arrows__btn
                    img.slider-arrows__img(src="./img/slider/arrow.svg" alt="arrow-prew")
                button.slider-arrows__btn
                    img.slider-arrows__img(src="./img/slider/arrow.svg" alt="arrow-next")
        .slider-content 
            .slider-item
                .slider-item-image 
                    img.slider-item-image__img(src="./img/slider/image-01.png" alt="person")
                .slider-description 
                    h5.slider-description__title Dianne Russell 
                    p.slider-description__subtitle Founder and CEO    
            .slider-item
                .slider-item-image 
                    img.slider-item-image__img(src="./img/slider/image-02.png" alt="person")
                .slider-description 
                    h5.slider-description__title Jerome Bell 
                    p.slider-description__subtitle Founder and Program Director    
            .slider-item
                .slider-item-image 
                    img.slider-item-image__img(src="./img/slider/image-03.png" alt="person")
                .slider-description 
                    h5.slider-description__title Kristin Watson 
                    p.slider-description__subtitle Marketer, Curator of Marketing Course    
            .slider-item
                .slider-item-image 
                    img.slider-item-image__img(src="./img/slider/image-04.png" alt="person")
                .slider-description 
                    h5.slider-description__title Marvin McKinney
                    p.slider-description__subtitle PM, Curator of Management Course  