$max-width: 1920px;


@mixin responsive-font($pc-size, $mob-size) {
    $add-size: $pc-size - $mob-size;
    $max-width: $max-width - 320;
    font-size: calc(#{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width}));
}