section.event-section-05 
    .container 
        .card-docard.container-flex
            .card-docard-wrap 
               img.card-docard__img(src="./img/event-section-04/illustration.png" alt="person")
            .card-docard-content
                h4.card-docard-content__title Don’t want to miss the best events? Subscribe to our newsletter!
                form.container-form 
                    input.container-form__input(type="text" placeholder="Your working email")
                    //- BUTTON Red
                    button.button-global
                        span.button-global__title Subscribe
                .card-docard-content
                    input.card-docard-content__input.custom-checkbox#scales(type="checkbox" name="scales")
                    label.card-docard-content__label(for="scales") I agree to receive communications from Createx Online School