section.event-section-04
    .container.container-flex
        .container-column
            h5.section-01-cc__title For whom?
            p.section-01-cc__decription Who will benefit from the event:
        ul.section-01-cc
            li
                .footer-top-column__link
                    .section-01-cc-inner
                        img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                    p.section-01-cc__text Specialists with more than 1 year of active work experience
            li
                .footer-top-column__link
                    .section-01-cc-inner
                        img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                    p.section-01-cc__text Mobile app designers who want to improve their skills in solving business problems, creating and testing human-centered interfaces
            li
                .footer-top-column__link
                    .section-01-cc-inner
                        img.section-01-cc__img(src="./img/section-01/check.svg" alt="bullet")   
                    p.section-01-cc__text Professional designers who want to feel more confident in UX