section.section-event.sourse-section-01
    .container.container-flex 
        .content-course.container-description.container-column
            h2.container-description__title We will talk about:
            ul.section-01-cc
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/bullets/minus.svg" alt="bullet")   
                        p.section-01-cc__text #[span.section-01-cc__inner Theme 1.] Aliquet lectus urna viverra in odio.
                li
                    p.container-description__text Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/bullets/plus.svg" alt="bullet")   
                        p.section-01-cc__text #[span.section-01-cc__inner Theme 2.] Orci commodo, viverra orci mollis ut euismod.      
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/bullets/plus.svg" alt="bullet")   
                        p.section-01-cc__text #[span.section-01-cc__inner Theme 3.] Sagittis vitae facilisi rutrum amet mauris quisque vel.                   
                li
                    .footer-top-column__link
                        .section-01-cc-inner
                            img.section-01-cc__img(src="./img/bullets/plus.svg" alt="bullet")   
                        p.section-01-cc__text #[span.section-01-cc__inner Theme 4.] In id dolor quis nunc, urna hendrerit pharetra.     
        .course-card
            .course-card-wrap
                h4.course-card__title Time
                h5.course-card__date August 5, 11:00 – 14:00
                p.course-card__description Metus turpis sit lorem lacus, in elit tellus lacus.
            .course-card-wrap
                h4.course-card__title Price
                h5.course-card__date Free
                p.course-card__description Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.
            .course-card-wrap
                h4.course-card__title Event on Facebook
            //- BUTTON Red
            button.button-global 
                span.button-global__title Join the event