//- page 1
section.events
    .container-column.container-column-center
        h5.section-01-cc__title Our events
        p.section-01-cc__decription Lectures, workshops & master-classes
    
    .container
        ul.filter
            li
                .cell
                    span.cell__title Event category
                    .target-cell all themes
            li     
                .cell
                    span.cell__title Sort by
                    .target-cell newest
            li
                .cell
                    span.cell__title Show
                    .target-cell 9
            li
                form.search-events.cell
                    input.search-events__input(type="text" placeholder="Search event...")
                    button.search-events__btn.container-flex-center-all
                        img.search-events__img(src="./img/courses/search.svg" alt="serach")
            li
                .view-cell.cell
                    button.view-cell__btn.container-flex-center-all.row-btn
                        img.view-cell__img(src="./img/input/list.svg" alt="list")
                    button.view-cell__btn.container-flex-center-all.grid-btn
                        img.view-cell__img(src="./img/input/grid.svg" alt="grid")
        .date-cards 
            .card-date
                .card-date-head
                    h5.card-date-head__day 05
                    .container-column
                        p.card-date-head__month August
                        p.card-date-head__time 11:00 – 14:00
                .card-date-middle
                    h5.card-date-middle__title Formation of the organizational structure of the company in the face of uncertainty.
                    p.card-date-middle__subtitle Onine master-class
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more                
            .card-date
                .card-date-head
                    h5.card-date-head__day 24
                    .container-column
                        p.card-date-head__month July
                        p.card-date-head__time 11:00 – 12:30
                .card-date-middle
                    h5.card-date-middle__title Building a customer service department. Best Practices.
                    p.card-date-middle__subtitle Onine lecture
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more               
            .card-date
                .card-date-head
                    h5.card-date-head__day 16
                    .container-column
                        p.card-date-head__month July
                        p.card-date-head__time 10:00 – 13:00
                .card-date-middle
                    h5.card-date-middle__title How to apply methods of speculative design in practice. Worldbuilding prototyping.
                    p.card-date-middle__subtitle Onine workshop
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more              
            .card-date
                .card-date-head
                    h5.card-date-head__day 10
                    .container-column
                        p.card-date-head__month July
                        p.card-date-head__time 09:00 – 14:00
                .card-date-middle
                    h5.card-date-middle__title Find and evaluate: search and assessment tools for candidates.
                    p.card-date-middle__subtitle Onine workshop
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more            
            .card-date
                .card-date-head
                    h5.card-date-head__day 27
                    .container-column
                        p.card-date-head__month July
                        p.card-date-head__time 15:00 – 19:00
                .card-date-middle
                    h5.card-date-middle__title Connection to Microsoft Excel and Google Sheets, Data Visualization in Power BI.
                    p.card-date-middle__subtitle Onine master-class
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more        
            .card-date
                .card-date-head
                    h5.card-date-head__day 15
                    .container-column
                        p.card-date-head__month July
                        p.card-date-head__time 10:00 – 12:00
                .card-date-middle
                    h5.card-date-middle__title Marketing or growth hacking: main differences and what business needs.
                    p.card-date-middle__subtitle Onine lecture
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more 
            .card-date
                .card-date-head
                    h5.card-date-head__day 29
                    .container-column
                        p.card-date-head__month May
                        p.card-date-head__time 11:00 – 13:00
                .card-date-middle
                    h5.card-date-middle__title Who is a project manager and do I want to be PM?
                    p.card-date-middle__subtitle Onine lecture
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more
            .card-date
                .card-date-head
                    h5.card-date-head__day 18
                    .container-column
                        p.card-date-head__month May
                        p.card-date-head__time 10:00 – 12:00
                .card-date-middle
                    h5.card-date-middle__title The company's business page as an additional tool to support the announcement of vacancies.
                    p.card-date-middle__subtitle Onine lecture
                //- BUTTON opacity
                button.button-global-opacity 
                    span.button-global-opacity__title View more
        ul.spectrum.container-flex
            li 
                a.spectrum__link(href="#")
                    span.spectrum__num 1  
            li 
                a.spectrum__link(href="#")
                    span.spectrum__num 2      
            li 
                a.spectrum__link(href="#")
                    span.spectrum__num 3      
            li 
                a.spectrum__link(href="#")
                    span.spectrum__num 4
            li 
                button.spectrum__btn.container-flex-center-all
                    img.spectrum__img(src="./img/input/right-arrow.svg" alt="arrow")        